*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #E9E9E9;
}
div{
  text-align: center;
}
h1{
  font-style: italic;
  padding: 50px 0px;
  color:blueviolet
}

p{
  font-size: 20px;
  margin:15px 0px;
}

.jokes-title{
  font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}